version: 2.1
executors:
  my-executor:
    docker:
      - image: circleci/golang:1.12
      - image: mysql:8.0
        environment:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: restaurant_management_test
          MYSQL_USER: vardhaman
          MYSQL_PASSWORD: mypass
          MYSQL_HOST: database
    working_directory: /go/src/github.com/vds/go-resman

jobs:
  one:
    executor: my-executor
    environment:
      GO111MODULE=on
    steps:
      - checkout
      - run: go mod download
      - run: go mod verify
      - run: go test ./cmd/ -v
      - run: mkdir -p bin
      - run: ./build.sh
      - persist_to_workspace:
          root: bin
          paths: server
  two:
    executor: my-executor
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: ./bin
      - run: curl https://cli-assets.heroku.com/install.sh | sh
      - run: docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
      - run: heroku container:push web -a go-resman
      - run: heroku container:release web -a go-resman
workflows:
  version: 2
  one_and_two:
    jobs:
      - one  # your custom job from your config, that builds your code
      - two: # your custom job; runs test suite 1
          requires: # test1 will not run until the `build` job is completed.
            - one
          filters:
            branches:
              only: master
